*{
    margin: 0;
    padding: 0;
}
.onepage{
    background-color: #807c73;
    height: 1400px;
}
.onepage .color{
    background-color: #ff6419;
    height: 1400px;
    width: 500px;
    margin-left: 200px;
}
.color .nature{
    padding-top: 60px;
    margin-left: 75px;
}
.color .nature img{
    width: 800px; 
    border-radius: 45px;
    object-fit: cover;
}
.color .travel{
    margin-left: 580px;
    margin-top: -210px;
}
.color .travel img{
width: 400px;
border-radius: 45px;
height: 530px;
object-fit: cover;
}
.onepage .about{
    width: 450px;
    background-color: white;
    padding: 25px;
    height: 500px;
    border-radius: 45px;
    margin-top: -400px;
    position: relative;
    margin-left: -80px;
}
.onepage .about a{
    background-color: #ff6419;
    text-decoration: none;
    padding: 18px 48px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
}
.onepage .about span{
    border-bottom: 1px solid black;
    cursor: pointer;
}
.onepage .about span:hover{
    border-bottom: 1px solid #ff6419;
}
.onepage .programmers{
   margin-top: -240px;
   margin-left: 140px;
}

.onepage .programmers img{
    height: 400px;
    width: 650px;
    border-radius: 45px;
    object-fit: cover;
}